<!DOCTYPE html>
<html>

<head>
    <title>Homepage- <%= userName %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="warranty,shop,Ecommerce,blockchain">
    <meta charset="UTF-8">
    <link rel="icon" href="/icons/warranty_icon.ico">
    <script src="/js/debounce.js"></script>
    <link rel="stylesheet" href="/css/home.style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        type="text/css" media="all" />

    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <script src="/js/home.js" defer></script>
</head>

<body>
    <header class="mhdr">
        <ul class="navigator">
            <% let __dirname=process.cwd()%>
            <%- include( __dirname+"/views/static/partials/navigationBar.html") %>

            <li id="logoutUser" title="logout">
                <span>
                    <%= userId %>
                </span>
                <a href="/retailer/logout" <%-"guest=" +((userName==="Guest"))%>> <i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </li>
        </ul>
    </header>

    <body>
        <main id="whole">
            <section id="left" 
            <%-"guest=" +((userName==="Guest"))%>
            >
                <div class="preview-zone">
                    <h4>Brand Name</h4>
                    <section class="search" role="search">
                        <form method="get" class="search__form">
                            <input id="brand_search" class="search__input" type="search" name="search" maxlength="100"
                                placeholder="brand name...." oninput="getWarrantyNo()" list="brand_list" />
                        </form>
                    </section>
                </div>

                <div class="preview-zone">
                    <h4>Model Name/Number</h4>
                    <section class="search" role="search">
                        <form method="get" class="search__form">
                            <input id="model_search" class="search__input" oninput="getWarrantyNo()"
                                type="search" name="search" maxlength="100" placeholder="model name..."
                                list="model_list" />
                        </form>
                    </section>
                </div>

                <div id="collections">
                    <ul>
                        
                    </ul>
                </div>
            </section>

            <section id="right">
                <ul>
                    <a href="/retailer/upload" <%-"guest=" +((userName==="Guest"))%>>
                            <li>
                            Upload warranty
                        </li>
                    </a>
                    <a href="/retailer/validate">
                    <li <%-"guest=" +((userName==="Guest"))%>>
                        Validate warranty
                    </li>
                    </a>
                    <li class="opener" onclick="showHide(this)">
                        Get warranty Reciept
                    </li>
                    <li style="display: none;" id="warrantyEntry">
                        <form action="/user/getReceipt" target="_new" >
                            <input type="text" placeholder="Mobile No" name="mobile_no" class="receiptBox">
                            <input type="text" placeholder="Serial No" name="serial_no" class="receiptBox">
                            <button type="submit">Submit</button>
                        </form>
                    </li>
                </ul>
            </section>
        </main>
    </body>

</html>